<div class="start_menu_items t_bar" id="start_menu_items">&nbsp;</div>
<div class="section group span_2_of_2 task_bar t_bar">
	<div class="col t_bar">
		<div class="start-menu-icon t_bar start-menu" >
			<img class="t_bar start-menu" src="/image/start-btn.png" >
		</div>
	</div>
	<div class="col float_left t_bar middle_taskbar" ></div>
	
	<div class="col  float_right t_bar system_tray" style="width:120px">
		<div class="col span_1_of_2 t_bar">
			<div class="t_bar right logout">
				<a href="/Users/logout"><img class="t_bar" src="/image/logout.png" /></a>
			</div>
		</div>
		<div class="col span_1_of_2 t_bar">
			<div class="col span_2_of_2 right" id="system_time">time</div>
			<div class="col span_2_of_2 right" id="system_date">date</div>
		</div>		
	</div>
</div>